 /* font-family: 'Open Sans', sans-serif; */
 /* font-family: 'Rajdhani', sans-serif; */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    max-width: 1440px;
    font-family: 'Open Sans', sans-serif;
 }

 header {
    position: relative;
    min-height: 800px;
    background: url(./img/header-bg.jpg) no-repeat;
    background-size: cover;
    padding: 40px 80px 80px 80px;
 }

 .navigation {
    display: flex;
    justify-content: space-between;
 }

 .left__links>a {
    margin-right: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
 }

 .right__links>a {
    margin-left: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
 }

 .left__links>a:hover {
    color: #FFD600;
 }

 .right__links>a:hover {
    color: #FFD600;
 }

 /* .main-section {
    height: 250px;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
 } */

 .main-left {
    margin-top: 150px;
 }

 .timetable-turn {
    position: absolute;
    top: 462px;
    left: -40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #fff;
    transform: rotate(-90deg);
 }

 .in-the-center {
    margin-top: 150px;
 }

 .main-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
 }

 .main-topic {
    margin-top: 50px;
    font-size: 96px;
    line-height: 0px;
    font-family: 'Rajdhani', sans-serif;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
 }

 .line {
    width: 80px;
    height: 5.11px;
    margin: 0 auto;
    margin-top: 100px;
    background: #E8C300;
    border-radius: 50px;
 }

 .main-btns {
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin: 0 auto;
    margin-top: 30px;
 }

 .main-btn {
    width: 200px;
    height: 60px;
    background: transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
 }

 .main-btn:hover {
    background: #E8C300;
    border: none;
 }

 .down-btns {
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
 }

 .down-btn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    border: none;
    color: #333333;
    cursor: pointer;
 }

 .down-btn:hover {
    background: #E8C300;
    border: none;
 }


 .main-right {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    top: 340px;
    right: 80px;
 }

 .about__us {
    padding: 100px 80px 100px 80px;
 }

 .container {
    display: flex;
    justify-content: space-between;
 }

 .abo-us-left {
    width: 600px;
    height: 475px;
 }

 .abo-us-topic {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
 }

 .about-line {
    margin-top: 10px;
 }

 .paragraf {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
 }

 .paragraf>span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;

 }

 .abo-us-right {
    width: 600px;
    height: 475px;

 }

 .about-img {
    width: 100%;
 }

 /* OUR TEAM */
 .our-team {
    padding: 100px 80px 100px 80px;
    background: url(./img/our-team.jpg);
    background-size: cover;
 }

 .naming {
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
 }

 .our-team-left {
    width: 588px;
    height: 475px;
 }

 .our-team-img {
    width: 100%;
 }

 .our-team-right {
    width: 600px;
    height: 385px;
 }

 .white-topic {
    color: #fff;
 }

 .white-paragraf {
    color: rgba(255, 255, 255, 0.7);
 }

 .white-paragraf>span {
    color: #fff;
 }

 /* BOOKING */

 .booking {
    padding: 100px 80px 100px 80px;
 }

 .form-left {
    width: 575px;
    min-height: 220px;
 }

 .our-team-topic {
    color: #000;
 }

 .form {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
 }

 .form-left>input {
    margin: 5px;
    padding: 10px;
    width: 277px;
    height: 60px;
    background: #E5E5E5;
    border-radius: 5px;
 }

 .form-right>input {
    margin: 5px;
    padding: 10px;
    width: 277px;
    height: 60px;
    background: #E5E5E5;
    border-radius: 5px;
 }

 .booking-btn {
    width: 570px;
    height: 60px;
    background: #E8C300;
    border-radius: 5px;
 }

 .booking-right {
    width: 588px;
    height: 475px;
 }

 .booking-img {
    width: 100%;
 }

 .timetable-no-turn {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: rgba(51, 51, 51, 0.5);
 }

 .timetable-no-turn>span {
    font-weight: bold;
 }

 /* Dishes */

 .dishes {
    min-height: 675px;
    padding: 100px 80px 100px 80px;
    background: url(./img/dishes-bg.jpg);
    background-size: cover;
 }

 .container-slider {
    display: flex;
    justify-content: space-between;
 }

 .left-slider {
    width: 600px;
    height: 475px;
 }

 .slider-img {
    width: 100%;
 }

 .right-slider {
    width: 600px;
    height: 241px;
 }

 .topic-slider {
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
 }

 .line-slider {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 65px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
 }

 .paragraf-slider {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    align-items: flex-end;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
 }

 .paragraf-slider>span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
 }



 /* SLIDER */
 .slick-list {
    overflow: hidden;
 }

 .slick-track {
    display: flex;
    align-items: flex-start;
 }

 .slider {
    position: relative;
    padding: 0 50px;
 }

 .slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
 }

 .slider .slick-arrow.slick-prev {
    left: 0;
    background: url(./icons/left-arrow.png) 0 0 / 100% no-repeat;
    border: none;
 }

 .slider .slick-arrow.slick-next {
    right: 0;
    background: url(./icons/right-arrow.png) 0 0 / 100% no-repeat;
    border: none;
 }

 .slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
 }

 .slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
 }

 .slider .slick-dots li.slick-active button {
    background-color: #ff9800;
    border: none;
 }

 /* Tabs */

 .tabs-block {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 950px;
    margin: 0 auto;
    margin-top: 30px;
 }

 .tab-title-items {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    padding: 15px;
 }

 .tab-title-item {
    border: 2px solid white;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .tab-active {
    background-color: #ff9800;
 }

 .tab-content.show {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
 }

 .hide {
    display: none;
 }

 .show {
    display: block;
 }

 /* MENU */

 .menu {
    width: 1260px;
    height: 690px;
    padding: 100px 80px 100px 80px;
 }

 .menu-topic {
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
 }

 .line-menu {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 62px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
 }

 .menu-paragraf {
    width: 565px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
 }

 .text-menu {
    padding: 5px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    line-height: 18px;
    color: #fff;
 }

 .text-menu>span {
    font-weight: bold;
    padding-left: 15px;
 }

 /* EVENT */

 .event {
    min-height: 675px;
    padding: 100px 80px 100px 80px;
    background: url(./img/spesieltys.png);
    background-size: cover;
 }

 .event-topic {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
 }

 .left-event {
    width: 600px;
    height: 475px;
 }

 .right-event {
    width: 600px;
    height: 475px;
 }

 .event-img {
    width: 100%;
 }

 .contact-phone {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
 }

 .contact-phone>span {
    font-weight: bold;
 }

 .ivent-photos {
    display: flex;

 }

 .ivent-ph {
    width: 360px;
    height: 310px;
 }

 /* CONTACT */

 .contact {
    padding: 100px 80px 100px 80px;
 }

 .contact-topic {
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
 }

 .contact-line {
    width: 62px;
    height: 5px;
    margin: 0 auto;
    background: #E8C300;
    border-radius: 5px;
 }

 .contact-paragraf {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
 }

 .form-contact {
    margin-top: 60px;
 }

 .up-form {
    display: flex;
    justify-content: space-between;
 }

 .inf-form {
    width: 410px;
    height: 60px;
    margin-left: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-indent: 20px;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 5px;
    background: #E5E5E5;
    border: none;
 }

 .form-message {
    width: 1093px;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    background: #E5E5E5;
    border-radius: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-indent: 20px;
    color: rgba(51, 51, 51, 0.5);
    resize: none;
    border: none;
 }

 .icon {
    width: 20px;
 }

 .icon>img {
    width: 100%;
 }

 .adress-inf {
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
 }

 .phone-and-btn {
    display: flex;
    justify-content: space-between;
 }

 .addres-ph-email {
    width: 100%;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
 }


 .addres-1 {
    display: flex;
    justify-content: space-between;
 }

 .phon {
    display: flex;
    justify-content: space-between;
 }

 .mail {
    display: flex;
    justify-content: space-between;
 }

 .contact-btn {
    width: 440px;
    height: 60px;
    background: #E8C300;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
 }


 /* MAP */



 /* FOOTER */

 footer {
    height: 100px;
    background: rgba(0, 0, 0, 0.9);
 }

 .text-footer {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    padding-top: 50px;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
 }